{% extends "layout.html" %}
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{url_for('static', filename= 'assets/img/home-bg.jpg')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>{{ params["blog_name"] }}</h1>
                            <span class="subheading">{{ params["tag_name"] }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

                	<!-- ToDo: Fetch it using for loop from the database-->
                	{% for post in posts %}
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="/post/{{post.slug}}">
                            <h2 class="post-title">{{ post.Title }}</h2>
                            <h3 class="post-subtitle">{{post.tagline}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Admin</a>
                            on {{ post.Date }}
                        </p>
                    </div>
                    {{ post.Content[0:100] }}....
                     {% endfor %}

                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex flex-row bd-highlight mb-3">
                    <div class="p-2 bd-highlight"><a class="btn btn-primary text-uppercase" href="{{prev}}">← Previous</a></div></div>
                    <div class="d-flex flex-row-reverse bd-highlight">
                    <div class="p-2 bd-highlight"><a class="btn btn-primary text-uppercase" href="{{next}}">Next →</a></div>
                </div>
                </div>
            </div>
        </div>
        {% endblock %}
        
